ul {
    margin: auto;
    height: 10px;
    width: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    padding: 0;
  }
  
li {
    display: block;
    float: left;
    width: 90px;
    height: 10px;
    margin-right: 10px;
    text-align: center;
  }
  
.passedLevel{
    background: rgba(32,194,14,0.9);
    box-shadow: inset 0px 0px 10px 2px rgba(32,194,14,0.5),
        0px 0px 10px 1px rgba(32,194,14,0.5);
  }

.passedLevelLightGreen{
  background: rgba(175, 230, 26, 0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(175,230,26,0.5),
      0px 0px 10px 1px rgba(175,230,26,0.5);
}
.passedLevelYellow{
  background: rgba(255,255,14,0.9);
    box-shadow: inset 0px 0px 10px 2px rgba(255,255,14,0.5),
        0px 0px 10px 1px rgba(255,255,14,0.5);
}


.passedLevelRed{
  background: rgba(255,14,14,0.9);
    box-shadow: inset 0px 0px 10px 2px rgba(255,14,14,0.5),
        0px 0px 10px 1px rgba(255,14,14,0.5);
}

.passedLevelOrange{
  background:rgba(255, 153, 0, 0.9);
    box-shadow: inset 0px 0px 10px 2px rgba(255,153,0,0.5),
        0px 0px 10px 1px rgba(255,153,0,0.5);
} 
.unreachedLevel{
    box-shadow: inset 0px 0px 10px 1px rgba(32,194,14,0.4);
  }
  
.reachedLevel{
    -webkit-animation: pulse 1.5s alternate infinite;
    -moz-animation: pulse 1.5s alternate infinite;
  }
  
@-webkit-keyframes pulse {
    0% {
      background: rgba(32,194,14,1);
      box-shadow: inset 0px 0px 10px 1px rgba(32,194,14,0.4),
        0px 0px 10px 4px rgba(32,194,14,0.5);
    }
    100% {
      background: rgba(255,255,255,0);
      box-shadow: inset 0px 0px 10px 2px rgba(32,194,14,0.5);
    }
  }
    
@-moz-keyframes pulse {
    0% {
      background: rgba(32,194,14,1);
      box-shadow: inset 0px 0px 10px 1px rgba(32,194,14,0.4),
        0px 0px 10px 4px rgba(32,194,14,0.5);
    }
    100% {
      background: rgba(255,255,255,0);
      box-shadow: inset 0px 0px 10px 1px rgba(32,194,14,0.4);
    }
  }

.halfContentHalfBar{
        width:100%;
        height:20px;
        margin-top: 10px;
        margin-bottom: 10px;
        position:relative;
  }

.halfContent{
      width: 29%;
      height:20px;
      padding-right: 5px;
      float:left;
  }

.halfBar{
    width: 69%;
    height:15px;
    padding-top: 5px;
    place-content:left;
    float:left;
    }


.topContent{
    width: 100%;
    height:20px;
    position:relative;
}

.bottomContentShown{
    width: 100%;
    height: fit-content;
}

.botomContentHidden{
  display:none;
}

.tightParagraph{
  text-indent: -10px;
  padding-left: 20px;
  line-height: 1.3 ;
}